{% block model_tab %}
<div id="model" class="tab-pane fade in">
  <div class="row">
    <div class="col-md-12">
      <h3 id="model_metrics">
        Model Metrics: Accuracy
        <span id="model_metric_icon" data-toggle="tooltip" class="glyphicon glyphicon-question-sign model_question_tooltip" title="The percent guessed correctly by the model."></span>
      </h3>
      <div class="form-group">
        <label for="metric_select">Select the metric to appear on the chart:</label>
        <select class="form-control" id="metric_select">
          <option class = "metric_option" value="accuracy">Accuracy</option>
          <option class = "metric_option" value="f1">F1 Score</option>
          <option class = "metric_option" value="precision">Precision</option>
          <option class = "metric_option" value="recall">Recall</option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="metric_chart" style="height:350px">
            <svg class="nvd3-svg"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if project.learning_method != "random" %}
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Predictions</h3>
      <table id="predicted_data_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Text</th>
            <th>Predicted Probability</th>
            <th>Predicted Label</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}