{% block label_tab %}
<div id="label" class="tab-pane fade in active">
  <div class="row">
    <div class="col-md-12">
      <h3>Label Distribution</h3>
      <div id="distribution_chart" style="height:400px">
        <svg class="nvd3-svg"></svg>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Time To Label</h3>
      <div id="timer_chart" style="height:300px">
        <svg class="nvd3-svg"></svg>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Labeled Data Table</h3>
      <table id="labeled_data_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Text</th>
            <th>Label</th>
            <th>Coder</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}