{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "globals": {
        "React": false
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": 0,
        "no-case-declarations": 0,
        "no-cond-assign": 0,
        "no-extra-semi": 0,
        "no-unused-vars": 1,
        "react/display-name": 0,
        "react/prop-types": 0,
        "react/no-find-dom-node": 0,
        "brace-style": ["error", "1tbs"],
        "object-curly-spacing": ["error", "always"],
        "space-infix-ops": ["error", {"int32Hint": false}],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "indent": ["error", 4],
        "semi": ["error", "always"],
    }
}
