.DS_Store
__pycache__/
*.pyc

# Frontend
frontend/dist/
frontend/webpack-stats.json
frontend/node_modules/
npm-debug.log

# Mounted Docker volume
backend/django/frontend/
.env
.cache
.coverage

# Docs
smart-docs/docs/_build/
smart-docs/docs/nbuild/

# Landing
docs/node_modules/

# Backups
backup/*

# IDE specific
.vscode/
