html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strong, ol,
ul, li, fieldset, form, label, article, aside, footer, header, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}