//General
@import 'includes';

header {
    @include border($attribute: border-top, $size: 8px, $color: $primary-color-dark);
    @include flexbox;
    @include align-items(center);

    height: 64px;
    padding: 0 16px;

    background: $primary-color;

    box-shadow: $box-shadow;

    a:focus, a:hover, a:active {
        text-decoration-color: white;
    }

    h1 {
        color: $primary-color-text;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.two_third {
    width: 67%;
}

.button-group {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
}

.button {
    border: 0;
    height: 40px;
    border-radius: 3px;
    margin: 4px;

    &.primary {
        background: $primary-color;
        color: $primary-color-text;

        @include border($attribute: border, $size: 2px, $color: $primary-color-dark);
    }

    &.secondary {
        background: $primary-color-light;
        color: $secondary-text-color;
    }

    &.disabled {
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.65;
    }
}

.content-wrapper {
    position: relative;
    padding: 15px 0;

    @include breakpoint(large) {
        padding: 24px 0;
    }
}

.messages {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: $box-shadow;
    z-index: 10;

    .alert {
        margin-bottom: 0;
    }
}

main {
    width: 90%;
    max-width: $breakpoint-large;
    position: relative;
    z-index: 1;

    margin: 16px auto;

    @include breakpoint(large) {
        margin: 24px auto;
    }
}

.card {
    @include card;
    @include clearfix;

    margin: 0 auto;
}

.cardface {
    border: 1px solid $table-border-color;

    padding: 12px 16px;
    margin: 16px 24px;

    @include breakpoint(large) {
        padding: 16px 24px;
        margin: 24px 32px;
    }

    h4 {
        border-bottom: 1px solid $table-border-color;
    }
}

.margin-top {
    margin-top: 15px;
}

.error-messages {
    color: red;
    font-size: 12px;
}

.showData {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.btn-spacing {
    margin-left: 8px;
}

#distribution_chart .nv-multiBarWithLegend .nv-y .tick line,
#distribution_chart_summ .nv-multiBarWithLegend .nv-y .tick line {
    display: none;
}

#choose_method_box {
    margin-left: 30px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
}

.choose_method {
    margin-left: 5px;
}

.margin-left {
    margin-left: 15px;
}

.btn-link {
    color: white;
}

.btn-link:hover, .btn-link:focus {
    color: white;
}

.download_btn {
    cursor: pointer;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #E9ECEF;
}

#user_buttons {
    margin-left: auto;
}

.progress {
    margin-top: 15px;
}

#admin_text {
    white-space: normal;
}

#admin_buttons {
    margin: auto;
    width: 50%;
}

#skew_buttons {
    margin: auto;
    width: 50%;
}

li.disabled {
    visibility: hidden;
}

.loader {
    border: 8px solid #F3F3F3; /* Light grey */
    border-top: 8px solid #3498DB; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}

#progressBar {
    visibility: hidden;
}

.modal-content {
    z-index: auto;
}

.overlay {
    background: #B2B2B2;
    color: #000000;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.9;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.overlay_contents {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    transform: translateX(50%);
    color: black;
    display: table;
    margin: 0 auto;
    z-index: 102;
}

.loader {
    margin-top: -60px;
}

#loading_text {
    margin-left: -45px;
}
