{% extends "base.html" %}
{% block page_title %}Add Project - Step {{ wizard.steps.step1 }}{% endblock %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="overlay">
  <div class="overlay_contents">
      <div id="second_progress"></div>
      <span id="loading_text"></span>
  </div>
</div>
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data" onsubmit="addASpinner()">
          {% csrf_token %}
          {{ wizard.management_form }}

          <h1>Labels</h1>
          <h3>Description</h3>
          <p>On this page, we will create categories for labeling. These labeled observations will be used to train a classification model that predicts which of these categories a new observation is most likely to be.</p>
          <h3>Instructions</h3>
          <p>Upload a .csv or .xlsx file containing labels and their descriptions (label and description columns required). Additional fields wil be treated as label metadata and will be shown along with the labels when annotating.</p>
          
          <p><i>Labeling Notes:</i></p>
          <ul class="list-group">
            <li class="list-group-item">SMART <strong>requires at least two category labels</strong> and the labels must be <strong>unique</strong>.</li>
            <li class="list-group-item">If you plan on uploading a data file that contains labels, the label categories in the file must match those provided on this page.</li>
            <li class="list-group-item">SMART has been tested with up to 50,000 labels.</li>
            <li class="list-group-item">You cannot update the labels for a project after the project is created.</li>
            <li class="list-group-item">.csv's use commas to split fields. If you are using the .csv upload and have commas in your label descriptions please put double quotes "" around the description text to ensure the file reader parses it correctly.</li>
          </ul>
          <hr>
          <p><a href="{% static 'example-labels.csv' %}">An example dataset can be downloaded from here</a>.</p>
          <div class="form-group">
            <label class="control-label" for="{{ wizard.form.label_data_file.id_for_label }}"></label>
            <label class="control-label" for="{{ wizard.form.label_data_file.id_for_label }}">{{ wizard.form.label_data_file.label }}</label>
            <input class="form-control" id="{{ wizard.form.label_data_file.id_for_label }}" maxlength="30" name="{{ wizard.form.label_data_file.html_name }}" type="file" placeholder="{{ form.label_data_file.label }}"  />
            <div class="error-messages">{{ wizard.form.label_data_file.errors }}</div>
          </div>
          <div class="wizard_nav_bar">
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js">
  function addASpinner() {
        $('.overlay').show();
        $('#loading_text').html("Please wait. Updating labels...");
        $("#second_progress").addClass("loader");
        //after 30 seconds, update the message
        setTimeout(function() {
            $('#loading_text').html("Still processing data...");
        }, 30000)
    }
</script>
{% endblock %}
