{% extends "base.html" %}
{% block page_title %}Add Project - Step {{ wizard.steps.step1 }}{% endblock %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ wizard.management_form }}

          <h1>Project Info</h1>
          <div class="form-group">
            <label class="control-label" for="{{ wizard.form.name.id_for_label }}">{{ wizard.form.name.label }} (required)</label>
            <input class="form-control" id="{{ wizard.form.name.id_for_label }}" maxlength="30" name="{{ wizard.form.name.html_name }}" type="text" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}"/>
            <div class="error-messages">{{ wizard.form.name.errors }}</div>
          </div>
          <div class="form-group">
            <label class="control-label" for="{{ wizard.form.description.id_for_label }}">{{ wizard.form.description.label }}</label>
            <textarea class="form-control" id="{{ wizard.form.description.id_for_label }}" name="{{ wizard.form.description.html_name }}">{{ form.description.value|default_if_none:'' }}</textarea>
            <div class="error-messages">{{ wizard.form.description.errors }}</div>
          </div>
          <div class="form-group">
            <label class="control-label" for="{{ wizard.form.umbrella_string.id_for_label }}">Group</label>
            <select class="form-control" name="{{ wizard.form.umbrella_string.html_name }}" value="{{ form.umbrella_string.value|default_if_none:'' }}">
              <option value=""></option>
              {% for umbrella in umbrella_choices %}
                <option>{{ umbrella }}</option>
              {% endfor %}
            </select>
            <p style="margin-top: 4px;">Select a group or leave this option blank.</p>
            <div class="error-messages">{{ wizard.form.umbrella_string.errors }}</div>
          </div>
          <div class="wizard_nav_bar">
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
