{% extends "base.html" %}
{% block page_title %}Add Project - Step {{ wizard.steps.step1 }}{% endblock %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ wizard.management_form }}

          <h1>Advanced Settings</h1>
          <p>SMART has a number of optional features which can be turned on for each project. These features can be enabled, disabled, or changed using the options below.</p>
          <i> WARNING: the settings on this page cannot be changed once a project is created.</i>
          <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#c-panel" class="accordion-toggle">
                    Model Selection and Data Ordering
                  </a>
                </h5>
              </div>
              <div id="c-panel" class="panel-collapse collapse show">
                <div class="panel-body">
                  <p>For projects looking to build a training set to predict labels from text, SMART provides several types of built-in supervised learning algorithm options.</p>
                  <div id="choose_classifier_box">
                    <div id="use_model_div">
                      <p>Train and display results for a model: {{ wizard.form.use_model }}</p>
                    </div>
                    <div id="classifier_radios">
                      <p>Choose the classification algorithm.</p>
                      {% for radio2 in wizard.form.classifier %}
                      <div class="choose_classifier" name="classifier_choice" id="{{radio2.value}}">
                        {{radio2}}
                      </div>
                      {% endfor %}
                    </div>
                    <div class="error-messages">{{ wizard.form.classifier.errors }}</div>
                    <hr/>
                  </div>

                  <div id="choose_method_box">
                    <p>Choose what order the unlabeled data should be assigned to coders*</p>
                    {% for radio in wizard.form.ordering_method %}
                    <div class="choose_method" name = "ordering_choice" id={{radio.value}}>
                      {{radio}}
                    </div>
                    {% endfor %}
                    <p>
                      * Projects with a predictive model enabled may also use this model to identify what unlabeled data would be the most beneficial for model knowledge gain to assign to coders next, using
                      a process called <b>Active Learning</b>.
                    </p>
                    <div class="error-messages">{{ wizard.form.ordering_method.errors }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#irr-panel" class="accordion-toggle">
                    Inter-rater Reliability (IRR) Settings
                  </a>
                </h5>
              </div>
              <div id="irr-panel" class="panel-collapse collapse show">
                <div class="panel-body">
                  <div id = "choose_irr_or_not">
                    <p>Under IRR, a certain percentage of the data is labeled by
                      multiple coders. The project admin can then examine the
                      consistency of the labels across different coders. The options
                      below allow you to set what percentage of the data is coded
                      multiple times, and how many coders must code data designated
                      for IRR before it is analyzed.
                    </p>
                    {{ wizard.form.use_irr }} Use Inter-rater Reliability
                  </div>
                  <div id="IRR_options">
                    Percent of batch marked IRR (must be between 0 and 100):{{ wizard.form.percentage_irr }}%
                    <br />
                    Number of coders needed (minimum of 2): {{ wizard.form.num_users_irr }}
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#b-panel" class="accordion-toggle">
                    Batch Settings
                  </a>
                </h5>
              </div>
              <div id="b-panel" class="panel-collapse collapse show">
                <div class="panel-body">
                  <div id="choose_batch_size">
                    Batch size (must be between 10 and 1000): {{ wizard.form.batch_size}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="error-messages">{{ wizard.form.non_field_errors }}</div>
          <div class="wizard_nav_bar">
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="labels">2. Labels</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="permissions">3. Permissions</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script type="text/javascript">
/*
 *  Custom code to handle what options are shown on page load and on option selection
 */
var irr_box = $('div#IRR_options');
var class_choice = $('#classifier_radios');

var active_learning_options = [
  "input#id_advanced-ordering_method_3",
  "input#id_advanced-ordering_method_4",
  "input#id_advanced-ordering_method_5"
];


if ($('input#id_advanced-use_irr').prop('checked') == true) {
  irr_box.show();
} else {
  irr_box.hide();
}

if ($('input#id_advanced-use_model').prop('checked') == true) {
  active_learning_options.forEach(item => $(item).attr("disabled",false))
  class_choice.show();
} else {
  active_learning_options.forEach(item => $(item).attr("disabled",true))
  class_choice.hide();
}

$('input#id_advanced-use_model').change(function() {
  if ($(this).prop('checked') == true) {
    active_learning_options.forEach(item => $(item).attr("disabled",false))
    class_choice.show();
  } else {
    active_learning_options.forEach(item => $(item).attr("disabled",true))
    class_choice.hide();
  }
});

$('input#id_advanced-use_irr').change(function() {
  if ($(this).prop('checked') == true) {
    irr_box.show();
  } else {
    irr_box.hide();
  }
});




</script>
{% endblock %}
