{% extends "base.html" %}
{% block page_title %}Update Project Overview{% endblock %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        {{ form.media.css }}
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" href="#coders-view-labels-panel" class="accordion-toggle collapsed">
                      Coder Label Viewing Permissions
                    </a>
                  </h5>
                </div>
                <div id="coders-view-labels-panel" class="panel-collapse collapse hide">
                  <div class="panel-body">
                    <div id="allow_coders_view_labels">
                        {{ form.allow_coders_view_labels }} Allow coders to view other users' labels in history table
                    </div>
                    <i>
                      *This option is only enabled if project does not use IRR
                    </i>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" href="#change-category-panel" class="accordion-toggle collapsed">
                      Choose Project Category
                    </a>
                  </h5>
                </div>
                <div id="change-category-panel" class="panel-collapse collapse hide">
                  <div class="panel-body">
                    <p>If both the label and data files uploaded included metadata fields in common, then you can choose one of these fields as the project "Category."
                      If the project category is set then only labels from the same category will be suggested for data items.</p>
                    <div id="change_category">
                      <select id="{{ form.category.id_for_label }}" name="{{ form.category.html_name }}" class="form-control">
                        {% for opt in form.category %}
                          <p {% if form.category.initial == opt %}selected="selected"{% endif %}>{{ opt }}</p>
                        {% endfor %}
                      </select> 
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
