{% extends "base.html" %}
{% block page_title %}Update Project{% endblock %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <h1>Codebook Upload Instructions</h1>
        <h3>Description</h3>
        <p>This page gives you the opportunity to upload extra information for coders (ex: tips or hints differentiating different labels, examples of labeled data, etc.). To upload, the file <strong>must pass the following checks:</strong></p>
        <ul class="list-group">
          <li class="list-group-item">The file must be a pdf</li>
        </ul>
        {{ form.media.css }}
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label" for="{{ form.data.id_for_label }}">Code Book File</label>
            <input class="form-control" id="{{ form.data.id_for_label }}" maxlength="30" name="{{ form.data.html_name }}" type="file"  placeholder="{{ form.cb_data.label }}" style="text-align-last: center;"/>
            <p class="delete-row delete-label" id="rmFileBtn">remove codebook</p>
            <div class="error-messages">{{ form.data.errors }}</div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#rmFileBtn").click(function() {
    $("input[type='file']").val("");
  })
</script>
{% endblock %}
