{% extends "base.html" %}
{% block page_title %}Update Project{% endblock %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="cardface">
                {{ form.media.css }}
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h1>Data Upload Instructions</h1>
                    <h3>Description</h3>
                    <p>Time to upload your data! Please upload a data file that contains text (and optionally labels) for your project. To upload, the file <strong>must pass the following checks:</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item">The file needs to have either a
                            <code>.csv</code>, <code>.tsv</code>, or <code>.xlsx</code> file extension.</li>
                        <li class="list-group-item">The file requires the data to be
                            formatted with a column for Text. It can also have any of the additional optional columns listed below,
                            which each have formatting requirements (expand sections for more information)</li>
                        <li class="list-group-item">The largest file size supported is 500MBs.</li>
                    </ul>
                    <h3>Columns</h3>
                    <div id="id-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#id-panel-body" class="accordion-toggle">
                                    ID
                                </a>
                            </h5>
                        </div>
                        <div id="id-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The (optional) <code>ID</code> column
                                    should contain a <b>unique</b> identifier for your data.
                                    The identifiers should be no more than 128 characters.</p>
                            </div>
                        </div>
                    </div>
                    <div id="text-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#text-panel-body" class="accordion-toggle">
                                    (Required) Text
                                </a>
                            </h5>
                        </div>
                        <div id="text-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The <code>Text</code> column should contain
                                    the text you wish users to label. For example,
                                    if you are building a sentiment analysis classifier to
                                    predict whether a tweet is positive, negative, or neutral, the
                                    <code>Text</code>
                                    column would contain the tweets.</p>
                            </div>
                            <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_text.png' %}" alt="Sample annotation page with the text highlighted">
                        </div>
                    </div>
                    <div id="title-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#title-panel-body" class="accordion-toggle">
                                    Title
                                </a>
                            </h5>
                        </div>
                        <div id="title-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The (optional) <code>Title</code> column should contain
                                    titles that are connected to the text content.
                                    For example, if you were labeling blog posts, this would
                                    contain the titles of the posts.
                                </p>
                                <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_title.png' %}" alt="Sample annotation page with the title highlighted">
                            </div>
                        </div>
                    </div>
                    <div id="url-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#url-panel-body" class="accordion-toggle">
                                    URL
                                </a>
                            </h5>
                        </div>
                        <div id="url-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The (optional) <code>URL</code> column should contain valid urls for the source of the
                                    text content. For example, if you were labeling tweets, these would
                                    be the URL's to the Twitter page the tweet is on.
                                </p>
                                <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_url.png' %}" alt="Sample annotation page with the url highlighted">
                            </div>
                        </div>
                    </div>
                    <div id="date-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#date-panel-body" class="accordion-toggle">
                                    CreatedDate
                                </a>
                            </h5>
                        </div>
                        <div id="date-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The (optional) <code>CreatedDate</code> column
                                    should contain valid dates with or
                                    without times for the text content. The parser allows for
                                    different variations, though it might have trouble if your
                                    dates/times include timezone information.
                                    Some examples of valid date/date-time strings are
                                    "06/12/2019" or "21 July 2013 10:15 pm". For example, if
                                    your text was newspaper articles, this field would contain the
                                    date the article was published.
                                </p>
                                <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_date.png' %}" alt="Sample annotation page with the date highlighted">
                            </div>
                        </div>
                    </div>

                    <div id="user-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#user-panel-body" class="accordion-toggle">
                                    Username
                                </a>
                            </h5>
                        </div>
                        <div id="user-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>This (optional) column <code>Username</code> should contain values that represent the writer of the text content.
                                    For article labeling, this might be the author's name, while for
                                    social media this could be a username or handle.
                                </p>
                                <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_user.png' %}" alt="Sample annotation page with the author highlighted">
                            </div>
                        </div>
                    </div>

                    <div id="userurl-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#userurl-panel-body" class="accordion-toggle">
                                    UserURL
                                </a>
                            </h5>
                        </div>
                        <div id="userurl-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>This (optional) column <code>UserURL</code> should contain valid URL's related to the authors of the text content.
                                    For example, if you were labeling posts from Reddit, these URL's might
                                    be links to the author's profile pages.
                                </p>
                                <img style='height: 100%; width: 100%; object-fit: contain' src="{% static 'smart_label_example_urserurl.png' %}" alt="Sample annotation page with the user url highlighted">
                            </div>
                        </div>
                    </div>

                    <div id="label-panel" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" href="#label-panel-body" class="accordion-toggle">
                                    Label
                                </a>
                            </h5>
                        </div>
                        <div id="label-panel-body" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>The <code>Label</code> column should contain any
                                    pre-exisiting labels for the corresponding text.
                                    If none of your data contains existing labels,
                                    then this column can be left blank.
                                    Extending our sentiment analysis example, if a
                                    lead coder has already annotated some tweets as
                                    positive, negative, or neutral, this column
                                    would contain those labeled records.</p>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">SMART restricts your project to having two million unique records.</li>
                        <li class="list-group-item">If there are multiple rows with the same Text, only one of the records will be saved.</li>
                        <li class="list-group-item">SMART will keep up to two million unique records per data set.</li>
                    </ul>
                    {% if num_data < 2000000 %}
                    <div class="form-group">
                        <label class="control-label" for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
                        <input class="form-control" id="{{ form.data.id_for_label }}" maxlength="30" name="{{ form.data.html_name }}" type="file" placeholder="{{ form.data.label }}" />
                        <div class="error-messages">{{ form.data.errors }}</div>
                    </div>
                    {% else %}
                    <div>
                        <p>You already have two million unique data objects for this project, you can not upload additional data.</p>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}