{% extends "base.html" %}
 {% block page_title %}Update Project{% endblock %}
 {% load static %}
 {% load render_bundle from webpack_loader %}

 {% block content %}
 <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="card">
       <div class="cardface">
         {{ form.media.css }}
         <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Add Project To Group</h1>
            <h3>Description</h3>
            <p>To help organize your projects, you can assign projects to groups displayed on the project page.</p>
            <h3>Instructions</h3>
            <p>Select a group or leave this option blank.</p>
            {{ form.errors.as_ul }}
            <select class="form-control" name="umbrella">
              <option value=""></option>
              {% for umbrella_choice in umbrella_choices %}
                <option {% ifequal umbrella umbrella_choice %}selected="selected"{% endifequal %} value="{{ umbrella_choice }}">{{ umbrella_choice }}</option>
              {% endfor %}
            </select>
            <br />
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
         </form>
       </div>
     </div>
   </div>
 </div>
 {% endblock %}