{% load render_bundle from webpack_loader %}
{% load project_extras %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="robots" content="index, follow, NOODP">
        <meta name="description" content="Smarter Manual Annotation for Resource-constrained collection of Training data (SMART) is a tool that leverages elements of active learning, gamification, and UI/UX design to help data scientists and researchers reduce manual coding time and effort, making machine learning classification tasks more affordable and widely accessible."/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <title>{% block page_title %}{% endblock %}</title>
        {% render_bundle 'smart' 'css' %}
        {% block scripts_head %}{% endblock %}
    </head>
    <body>
        <header>
            <a href="/"><h1>SMART</h1></a>
            {% if user.is_authenticated %}
            <div id="top_menu_button">
              {% if project.pk %}
              <div class="dropdown">
                <button type="button" id="project_dropdown"
                class="dropdown-toggle btn btn-link"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Project <span class="caret" ></span>
              </button>
                <ul class="dropdown-menu">
                  <li id="project_link"><a class="dropdown-item"
                    href="{% url 'projects:project_list' %}">Projects</a></li>
                  <li><a class="dropdown-item"
                    href="{{ project.get_absolute_url }}">Details</a></li>
                  <li><a class="dropdown-item"
                    href="{% url 'projects:project_code' project.pk %}">Annotate</a></li>
                  {% if project.creator == user.profile %}
                    <li><a class="dropdown-item"
                      href="{% url 'projects:project_admin' project.pk %}">Admin</a></li>
                  {% else %}
                    {% for perm in project.projectpermissions_set.all %}
                      {% if perm.profile == user.profile or perm.permission == "ADMIN" %}
                      <li><a class="dropdown-item"
                        href="{% url 'projects:project_admin' project.pk %}">Admin</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
              {% else %}
              <a role = "button" id = "project_button" class="btn btn-link"
              href = "/">Projects</a>
              {% endif %}
            </div>
            <div class="btn-group" id="user_buttons">
                <div class="dropdown dropdown-btn">
                  <button type="button" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user }} <span class="caret" id="menu_dropdown"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="{% url 'account_email' %}">Manage Emails</a></li>
                      <li><a href="{% url 'account_change_password' %}">Manage Password</a></li>
                      <li><a href="{% url 'account_logout' %}">Logout</a></li>
                  </ul>
                </div>
            </div>
            {% endif %}
        </header>
        <div class="content-wrapper">
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
            </div>
            {% endif %}
            <main class="container-fluid">
            {% block content %} {% endblock %}
            </main>
        </div>
        {% render_bundle 'manifest' 'js' %}
        {% render_bundle 'vendor' 'js' %}
        {% render_bundle 'globals' 'js' %}
        {% block scripts_body %} {% endblock %}
    </body>
</html>
