{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="cardface">
                <h2>Sign Out</h2>
                <p>Are you sure you want to sign out?</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
