{% extends "base.html" %}

{% block content %}
<div class="row card">
    <h1 class="text-center">Update Password</h1>
    <div class="col-md-6 col-md-offset-3">
        {% if form.non_field_errors %}
        <div class="bg-danger alert">
            {% for err in form.non_field_errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form role="form" method="post" action="."> 
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input class="form-control" id="{{ field_for_label }}" maxlength="30" name="{{ field.html_name }}" type="password" placeholder="{{ field.label }}" /> 
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update Password</button> 
            </div>
        </form>
    </div>
</div>
{% endblock %}
