{% extends "base.html" %}
{% block page_title %}Password Reset{% endblock %}

{% load account %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="cardface">
        <h2>Password Reset</h2>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
