# main dependencies for the backend application
celery
Django
django-allauth
django-configurations
django-extensions
django-rest-auth
django-celery-results
django-postgres-stats
django-formtools
django-rest-swagger
django-webpack-loader
djangorestframework-jwt
openpyxl
pandas
redis==3.5.3
scikit-learn==0.24.1
statsmodels
string-grouper
xlrd

# dependencies for code formatters, dependency management, testing, etc.
black
coverage
docformatter
flake8
isort
pip-tools
pre-commit
pytest-django
