# main dependencies for the backend application
celery
Django
django-allauth
django-configurations
django-extensions
dj-rest-auth
django-celery-results
django-postgres-stats
django-formtools
django-rest-swagger
django-webpack-loader
djangorestframework-jwt
openpyxl
pandas
Pillow
pyodbc
redis
requests
scikit-learn
sentence_transformers
statsmodels
sqlalchemy
xlrd

# dependencies for code formatters, dependency management, testing, etc.
black
coverage
docformatter
flake8
isort
pip-tools
pre-commit
pytest-django
