{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block page_title %}Admin{% endblock %}
{% block heading %}Admin - {{object}}{% endblock %}

{% block content %}
<div class="card full">
    <div class="cardface">
        <h2>{{ project.name }}</h2>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item active">
                    <a data-toggle="tab" href="#label" class="nav-link">Labeled Data</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#model" class="nav-link">Active Learning Model</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#irr_tab" class="nav-link">IRR</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="label" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Label Distribution</h3>
                        <div id="distribution_chart" style="height:300px">
                            <svg class="nvd3-svg"></svg>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Time To Label</h3>
                        <div id="timer_chart" style="height:300px">
                            <svg class="nvd3-svg"></svg>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Labeled Data Table</h3>
                        <table id="labeled_data_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Label</th>
                                    <th>Coder</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div id="model" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="model_metrics">Model Metrics: Accuracy
                          <span id="model_metric_icon"
                          data-toggle="tooltip"
                          class="glyphicon glyphicon-question-sign model_question_tooltip"
                          title="The percent guessed correctly by the model."></span>
                        </h3>
                        <div class="form-group">
                            <label for="metric_select">Select the metric to appear on the chart:</label>
                            <select class="form-control" id="metric_select">
                                <option class = "metric_option" value="accuracy">
                                Accuracy</option>
                                <option class = "metric_option" value="f1"
                                >F1 Score</option>
                                <option class = "metric_option" value="precision"
                                >Precision</option>
                                <option class = "metric_option" value="recall"
                                >Recall</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="metric_chart" style="height:350px">
                                    <svg class="nvd3-svg"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Predictions</h3>
                        <table id="predicted_data_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Predicted Probability</th>
                                    <th>Predicted Label</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div id="irr_tab" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-12">
                        <h3>IRR Metrics</h3>
                        <p id="kappa"></p>
                        <p id="percent_agree"></p>

                        <table id="pairwise_perc_agreement_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>First Coder</th>
                                    <th>Second Coder</th>
                                    <th>Percent Agreement</th>
                                </tr>
                            </thead>
                        </table>
                        <h3>Coder Label Heatmap</h3>
                        <p>The chart below shows the frequency with which pairs of coders agreed or disagreed on labels</p>
                        First Coder (top):<select class="form-control" id="coder1_select">
                        </select>
                        Second Coder (left):<select class="form-control" id="coder2_select">
                        </select>
                        <div id="heatmap_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts_body %}
<script>

function drawHeatmap(response)
{
  var coders = response["coders"]
  var labels = response["labels"]
  var coder1 = $('#coder1_select').val();
  var coder2 = $('#coder2_select').val();
  var comb1 = coder1.toString()+"_"+coder2.toString();
  var comb2 = coder2.toString()+"_"+coder1.toString();
  if(comb1 in response['data'])
  {
    var data = response['data'][comb1];
  }
  else{
    var data = response['data'][comb2];
  }

  var coder1_name = "";
  var coder2_name = "";
  //get the coder names to use for the axis labels
  coders.forEach(function(coder){
    if(coder.pk.toString() === coder1)
    {
      coder1_name = coder.name;
    }
    if(coder.pk.toString() === coder2)
    {
      coder2_name = coder.name;
    }

  });

  //Code adapted from blocks example:
  //http://bl.ocks.org/tjdecke/5558084
  var margin = { top: 100, right: 100, bottom: 200, left: 100 };
  if(labels.length > 10)
  {
    var width = labels.length*50;
    var height = labels.length*50;
  }
  else {
    var width = 500;
    var height = labels.length*50;
  }

  var gridSize = 50,
      legendElementWidth = 30,
      buckets = 10,
      colors = ["#ffffff","#e6e6e6","#cccccc","#b2b2b2","#999999","#808080","#666666","#4d4d4d","#333333","191919"];

  //delete the old chart
  d3.select('#heatmap').remove();

  //append the new svg to put everything in
  var svg = d3.select("#heatmap_chart").append("svg")
      .attr("id","heatmap")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  //add the y axis labels
  var vertLabels = svg.selectAll(".vertLabel")
      .data(labels)
      .enter().append("text")
      .text(function (d) { return d.slice(0,5); })
      .attr("x", 0)
      .attr("y", function (d, i) { return i * gridSize; })
      .style("text-anchor", "end")
      .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
      .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "vertLabel mono axis axis-workweek" : "vertLabel mono axis"); });

  //add the x axis labels
  var horzLabels = svg.selectAll(".horzLabel")
      .data(labels)
      .enter().append("text")
      .text(function(d) { return d.slice(0,5); })
      .attr("x", function(d, i) { return i * gridSize; })
      .attr("y", 0)
      .style("text-anchor", "middle")
      .attr("transform", "translate(" + gridSize / 2 + ", -6)")
      .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "horzLabel mono axis axis-worktime" : "horzLabel mono axis"); });


  var colorScale = d3.scale.quantile()
      .domain([0, buckets - 1, d3.max(data, function (d) { return d.count; })])
      .range(colors);


  var cards = svg.selectAll(".label2")
        .data(data, function(d) {return d.label1+':'+d.label2;});
  cards.append("title");

  cards.enter().append("rect")
       .attr("x", function(d) { return (labels.indexOf(d.label1) * gridSize); })
       .attr("y", function(d) { return (labels.indexOf(d.label2) * gridSize); })
       .attr("rx", 4)
       .attr("ry", 4)
       .attr("class", "hour bordered")
       .attr("width", gridSize)
       .attr("height", gridSize)
       .style("fill", function(d) {
         return colorScale(d.count);
       });


  cards.select("title").text(function(d) { return d.count; });

  //Axis code found at https://bl.ocks.org/d3noob/23e42c8f67210ac6c678db2cd07a747e
  // text label for the x axis
  svg.append("text")
      .attr("transform",
            "translate(" + (width/5) + " ," +
                           (-50) + ")")
      .style("text-anchor", "middle")
      .text(coder1_name);
  // text label for the y axis
  svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", -70)
      .attr("x",0 - (height / 5))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text(coder2_name);

  cards.exit().remove();

  var legend = svg.selectAll(".legend")
      .data([0].concat(colorScale.quantiles()), function(d) { return d; });

  legend.enter().append("g")
      .attr("class", "legend");

  legend.append("rect")
      .attr("x", function(d, i) { return legendElementWidth * i; })
      .attr("y", height + margin.top)
      .attr("width", legendElementWidth)
      .attr("height", gridSize / 2)
      .style("fill", function(d, i) { return colors[i]; });

  legend.append("text")
      .attr("class", "mono")
      .text(function(d) { return "≥ " + Math.round(d); })
      .attr("x", function(d, i) { return legendElementWidth * i; })
      .attr("y", height + gridSize + margin.top);

  legend.exit().remove();

}

/*
 *  Make ajax call to `label_distribution` route.  This will fetch data to
 *  populate the discrete multi bar chart and show the label distribution
 *  per user.
 */
$.ajax({
    method: "GET",
    url: '/api/label_distribution/' + {{ project.pk }} + '/',
    success: function (response) {
        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                .color(["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854","#ffd92f","#e5c494","#b3b3b3"])
                .duration(300)
                .margin({bottom: 70, left: 70})
                .groupSpacing(0.1)
            ;
            chart.xAxis
                .axisLabel("User")
                .axisLabelDistance(15)
                .showMaxMin(false)
            ;
            chart.yAxis
                .axisLabel("Number of Data Annotated")
                .axisLabelDistance(-5)
                .tickFormat(d3.format(',.01f'))
            ;
            chart.noData("Insufficient labeled data -- please code more documents");
            d3.select('#distribution_chart svg')
                .datum(response)
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
        });
    },
    error: function (error) {
        console.log(error);
    }
});


/*
 *  Make ajax call to `label_timing` route.  This will fetch data to populate
 *  the boxplot/candlestick chart and show how long it takes each user to
 *  annotate data.
 */
$.ajax({
    method: 'GET',
    url: '/api/label_timing/' + {{ project.pk }} + '/',
    success: function (response) {
        nv.addGraph(function() {
            var chart = nv.models.boxPlotChart()
                .x(function(d) { return d.label })
                .staggerLabels(true)
                .maxBoxWidth(75) // prevent boxes from being incredibly wide
                .yDomain([0, response.yDomain])
            ;
            chart.xAxis
                .axisLabel("User")
                .axisLabelDistance(15)
                .showMaxMin(false)
            ;
            chart.yAxis
                .axisLabel("Time to Label (s)")
                .axisLabelDistance(-5)
                .tickFormat(d3.format(','))
            ;
            chart.noData("Insufficient labeled data -- please code more documents");
            d3.select('#timer_chart svg')
                .datum(response.data)
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
        });
    },
    error: function (error) {
        console.log(error);
    }
});

/*
 *  Make ajax call to `get_irr_metrics` route.  This will fetch the
 *  common irr metrics to be displayed for the user
 */
$.ajax({
    method: "GET",
    url: '/api/get_irr_metrics/' + {{ project.pk }} + '/',
    success: function (response) {
        $('#kappa').text("Kappa: "+response.kappa.toString());
        $('#percent_agree').text("Percent Overall Agreement: "+response['percent agreement'].toString());
    },
    error: function (error) {
        console.log(error);
    }
});


/*
 *  Make ajax call to get the data for the heatmap.
 */
$.ajax({
    method: "GET",
    url: '/api/heat_map_data/' + {{ project.pk }} + '/',
    success: function (response) {
      var coders = response['coders'];

      if(coders.length >= 2)
      {
        coders.map(function(coder){
          $('#coder1_select').append('<option value="'+coder.pk.toString()+'">'+coder.name+'</option>');
          $('#coder2_select').append('<option value="'+coder.pk.toString()+'">'+coder.name+'</option>');
        })
        drawHeatmap(response);
      }
    },
    error: function (error) {
        console.log(error);
    }
});
$('#coder1_select').change(function () {
    $.ajax({
        method: 'GET',
        url: '/api/heat_map_data/' + {{ project.pk }} + '/',
        success: function (response) {
            drawHeatmap(response);
        },
        error: function (error) {
            console.log(error);
        }
    });
});
$('#coder2_select').change(function () {
    $.ajax({
        method: 'GET',
        url: '/api/heat_map_data/' + {{ project.pk }} + '/',
        success: function (response) {
            drawHeatmap(response);
        },
        error: function (error) {
            console.log(error);
        }
    });
});

/*
 *  Make ajax call to `model_metrics` route.  This will fetch data to populate
 *  the line chart and show how well the model is training over time.
 */
$.ajax({
    method: 'GET',
    url: '/api/model_metrics/' + {{ project.pk }} + '/?metric=accuracy',
    success: function (response) {
        var chart;
        nv.addGraph(function() {
            chart = nv.models.lineChart()
                .options({
                    duration: 300,
                    useInteractiveGuideline: true,
                    forceY: [0, 1]
                })
            ;
            chart.xAxis
                .axisLabel("Run ID")
            ;

            chart.yAxis
                .axisLabel('Metric')
                .tickFormat(function(d) {
                    return d3.format(',.2f')(d);
                })
            ;
            chart.noData("Insufficient training data -- please code more documents");
            d3.select('#metric_chart svg')
                .datum(response)
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
        });
        $('#metric_select').change(function () {
            $.ajax({
                method: 'GET',
                url: '/api/model_metrics/' + {{ project.pk }} + '/?metric=' + $(this).val(),
                success: function (response) {
                    d3.select('#metric_chart svg').datum(response).transition().duration(300).call(chart);
                    nv.utils.windowResize(chart.update);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            var choice = $(this).val();
            var children = $("#model_metrics").children();
            if(choice === "accuracy")
            {
              $("#model_metrics").text("Model Metrics: Accuracy ");
              $("#model_metrics").append(children);
              $("#model_metric_icon").attr("title","The percent guessed correctly by the model.")
            }
            else if(choice === "f1")
            {
              $("#model_metrics").text("Model Metrics: F1 Score ");
              $("#model_metrics").append(children);
              $("#model_metric_icon").attr("title","A common model evaluation "
              +"metric with a similar interpretation to accuracy but penalizes "
              +"for poor precision or recall. This is an important consideration"
              +" when predicting rare classes. Formula: 2*((Precision * Recall)/(Precision + Recall))")
            }
            else if(choice === "precision")
            {
              $("#model_metrics").text("Model Metrics: Precision ");
              $("#model_metrics").append(children);
              $("#model_metric_icon").attr("title","Indicates how precise the"
              +" active learning model is at correctly predicting the category"
              +" in the test set. Formula:  True Positives/(True Positives + False Positives)")
            }
            else {
              $("#model_metrics").text("Model Metrics: Recall ");
              $("#model_metrics").append(children);
              $("#model_metric_icon").attr("title","Indicates how comprehensive"
              +" the active learning model is at identifying documents of a "
              +"particular category in the test set.  Formula:  "
              +"True Positives/(True Positives + False Negatives)")
            }
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });
        });



    },
    error: function (error) {
        console.log(error);
    }
});


$(document).ready(function() {
    /*
     *  Activate DataTable script to create the labeled data DataTable
     */
    $('#labeled_data_table').DataTable({
        "ajax": '/api/data_coded_table/' + {{ project.pk }} + '/',
        "columns": [
            { "data": "Text", "width": "70%"},
            { "data": "Label", "searchable": false, "width": "15%" },
            { "data": "Coder", "searchable": false, "width": "15%" }
        ],
        "oLanguage": {
            "sSearch": "Filter Text: ",
            "sEmptyTable": "Insufficient labeled data -- please code more documents"
        },
        "initComplete": function (settings, json) {
            $this = $(this)
            $this.css({'table-layout':'fixed'});
            $this.find('tr td:first-child').addClass('showData');
        },
        "rowCallback": function (row, data) {
          $('td:nth-child(1)',row).addClass('showData');
        }
    });

    /*
     *  Activate DataTable script to create the predicted data DataTable
     */
    $('#predicted_data_table').DataTable({
        "ajax": '/api/data_predicted_table/' + {{ project.pk }} + '/',
        "columns": [
            { "data": "Text", "width": "70%" },
            { "data": "Probability",
              "searchable": false,
              "width": "15%",
              "render": function (data, type, row) {
                return d3.format('.2%')(data);
              },
            },
            { "data": "Label", "searchable": false, "width": "15%" }
        ],
        "oLanguage": {
            "sSearch": "Filter Text: ",
            "sEmptyTable": "Insufficient training data -- please code more documents"
        },
        "initComplete": function (settings, json) {
            $this = $(this)
            $this.css({'table-layout':'fixed'});
            $this.find('tr td:first-child').addClass('showData');
        },
        "rowCallback": function (row, data) {
          $('td:nth-child(1)',row).addClass('showData');
        }
    });

    /*
     *  Activate DataTable script to create the labeled data DataTable
     */
    $('#pairwise_perc_agreement_table').DataTable({
        "ajax": '/api/perc_agree_table/' + {{ project.pk }} + '/',
        "columns": [
            { "data": "First Coder", "searchable": false},
            { "data": "Second Coder", "searchable": false},
            { "data": "Percent Agreement", "searchable": false}
        ],
        "oLanguage": {
            "sEmptyTable": "No irr data processed"
        },
        "initComplete": function (settings, json) {
            $this = $(this)
            $this.css({'table-layout':'fixed'});
        }
    });

    $(function () {
       $('[data-toggle="tooltip"]').tooltip()
    });

});

/*
 *  Force window resize event when bootstrap tab navigation anchor is used
 *  This is needed because nvd3 charts are incorrectly sized if they are
 *  initially rendered while hidden.
 */
$(function () {
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
        window.dispatchEvent(new Event('resize'));
    });
});
</script>
{% endblock %}
