{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Admin Page{% endblock %}
{% block heading %}Admin - {{object}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>
            This is the admin page. Admin stuff goes here
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Click the button below to download your data with their labels
        </p>
        <a class="btn btn-primary" id="download_btn">Download Data</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            This is where label distribution per coder goes
        </p>
        <canvas id="label-distribution-chart" width="400" height="200"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            This is where the view labeled data table goes
        </p>
        <table id="labeled_data_table" class="table table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Label</th>
                    <th>Coder</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Text</th>
                    <th>Label</th>
                    <th>Coder</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            This is where the view predicted data table goes
        </p>
        <table id="predicted_data_table" class="table table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Label</th>
                    <th>Probability</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Text</th>
                    <th>Label</th>
                    <th>Probability</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts_body %}
<script>
$("#download_btn").on("click", function() {
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        var a, today;
        if (xhttp.readyState === 4 && xhttp.status === 200) {
            a = document.createElement('a');
            a.href = window.URL.createObjectURL(xhttp.response);
            today = new Date();
            a.download = "project_" + {{ project_pk }} + '_labels_' + today.toDateString().split(" ").join("_") + ".csv";
            a.style.display = 'none';
            document.body.appendChild(a);
            return a.click();
        }
    };
    xhttp.open("GET", "/api/download_data/" + {{ project_pk }} + "/", true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.responseType = 'blob';
    xhttp.send();
});

$.ajax({
    method: "GET",
    url: '/api/label_distribution/' + {{ project_pk }} + '/',
    success: function (chart_data) {
        var generated_patterns = pattern.generate(['#b3e2cd','#fdcdac','#cbd5e8','#f4cae4','#e6f5c9']);

        for(var i = 0; i < chart_data.datasets.length; i++) {
            chart_data.datasets[i]['backgroundColor'] = generated_patterns[i % generated_patterns.length];
        }
        var ctx = document.getElementById('label-distribution-chart').getContext("2d");
        var label_dist_chart = new Chart(ctx, {
            type: 'bar',
            data: chart_data
        })
    },
    error: function (error) {
        console.log(error);
    }
});

$(document).ready(function() {
    $('#labeled_data_table').DataTable({
        "ajax": '/api/data_coded_table/' + {{ project_pk }} + '/',
        "columns": [
            { "data": "Text" },
            { "data": "Label" },
            { "data": "Coder" }
        ]
    });
});

$(document).ready(function() {
    $('#predicted_data_table').DataTable({
        "ajax": '/api/data_predicted_table/' + {{ project_pk }} + '/',
        "columns": [
            { "data": "Text" },
            { "data": "Label" },
            { "data": "Probability" }
        ]
    });
});

</script>
{% endblock %}