{% extends "base.html" %}

{% block title %}Delete Project{% endblock %}
{% block heading %}Delete - {{object}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="cardface">
                <h2>Confirm Deletion</h2>
                <p>Are you sure you want to delete this project?</p>
                <form id="project_delete_form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <a href="{{ object.get_absolute_url }}" class="btn btn-danger">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

