{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ wizard.management_form }}

            <h1>Advanced Settings</h1>
            <div class="form-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" href="#al-panel" class="accordion-toggle collapsed">
                      Active Learning
                    </a>
                  </h5>
                </div>
                <div id="al-panel" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="choose_al_or_not">
                    {{ wizard.form.use_active_learning }} Use Active Learning to select data to label
                    </div>
                    <div id="choose_method_box">
                      {% for radio in wizard.form.learning_method %}
                      <div class="choose_method" name = "al_choice" id={{radio.value}}>
                        {{radio}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" href="#c-panel" class="accordion-toggle collapsed">
                      Model Selection
                    </a>
                  </h5>
                </div>
                <div id="c-panel" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="choose_classifier_box">
                      <div id="use_model_div">
                        <p>Train and display results for a model: {{ wizard.form.use_model }}</p>
                        <br />
                      </div>
                      <div id="classifier_radios">
                        <p>Choose the classification algorithm used by active learning algorithms and for general prediction.</p>
                        {% for radio2 in wizard.form.classifier %}
                        <div class="choose_classifier" name="classifier_choice" id="{{radio2.value}}">
                          {{radio2}}
                        </div>
                        {% endfor %}
                      </div>
                      <p>{{ wizard.form.classifier.errors }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" href="#b-panel" class="accordion-toggle collapsed">
                      Batch Settings
                    </a>
                  </h5>
                </div>
                <div id="b-panel" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="use_default_size">
                      Use default size (10 times the number of labels): {{ wizard.form.use_default_batch_size}}
                    </div>
                    <div id="choose_batch_size">
                      Batch size (must be between 10 and 1000): {{ wizard.form.batch_size}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="labels">2. Labels</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="permissions">3. Permissions</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script type="text/javascript">
var methods_box = $("div#choose_method_box");
var batch_field = $('#choose_batch_size');
var use_model = $("#use_model_div");
var class_choice = $("#classifier_radios");
if ($('input#id_advanced-use_active_learning').prop('checked') == true) {
  methods_box.show();
  use_model.hide();
} else {
  methods_box.hide();
  use_model.show();
}

if ($('input#id_advanced-use_default_batch_size').prop('checked') == true) {
  batch_field.hide();
} else {
  batch_field.show();
}

if ($('input#id_advanced-use_model').prop('checked') == true) {
  class_choice.show();
} else {
  class_choice.hide();
}

$('input#id_advanced-use_active_learning').change(function(){
  if ($(this).prop('checked') == true) {
    methods_box.show();
    use_model.hide();
  } else {
    methods_box.hide();
    use_model.show();
  }
});

$('input#id_advanced-use_default_batch_size').change(function(){
  if ($(this).prop('checked') == true) {
    batch_field.hide();
  } else {
    batch_field.show();
  }
});

$('input#id_advanced-use_model').change(function(){
  if ($(this).prop('checked') == true) {
    class_choice.show();
  } else {
    class_choice.hide();
  }
});

</script>
{% endblock %}
