{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ wizard.management_form }}

            <h1>Advanced Settings</h1>
            <div class="form-group">
              <h2>Active Learning</h2>
              <div class="choose_al_or_not">
              {{ wizard.form.use_active_learning }} Use Active Learning to select data to label
              </div>
              <div id="choose_method_box">
                {% for radio in wizard.form.learning_method %}
                <div class="choose_method" name = "al_choice" id={{radio.value}}>
                  {{radio}}
                </div>
                {% endfor %}
              </div>
              <div id = "choose_irr_or_not">
                <h2>Inter-rater Reliability (IRR) Options</h2>
                <p>Under IRR, a certain percentage of the data is labeled by
                  multiple coders. The project admin can then examine the
                  consistency of the labels across different coders. The options
                  below allow you to set what percentage of the data is coded
                  multiple times, and how many coders must code data designated
                  for IRR before it is analyzed.
                </p>
                {{ wizard.form.use_irr }} Use Inter-rater Reliability
              </div>
              <div id="IRR_options">
                Percent of batch marked IRR (must be between 0 and 100):{{ wizard.form.percentage_irr }}%
                <br />
                Number of coders needed (minimum of 2): {{ wizard.form.num_users_irr }}
              </div>
              <div id="choose_classifier_box">
                <h2>Model Selection</h2>
                <p>Choose the classification algorithm used by active learning algorithms.</p>
                {% for radio2 in wizard.form.classifier %}
                <div class="choose_classifier" name="classifier_choice" id="{{radio2.value}}">
                  {{radio2}}
                </div>
                {% endfor %}
                <p>{{ wizard.form.classifier.errors }}</p>

              </div>
              <h2>Batch Settings</h2>
              <div id="use_default_size">
                Use default size (10 times the number of labels): {{ wizard.form.use_default_batch_size}}
              </div>
              <div id="choose_batch_size">
                Batch size (must be between 10 and 1000): {{ wizard.form.batch_size}}
              </div>
            </div>

          <div>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="labels">2. Labels</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="permissions">3. Permissions</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script type="text/javascript">
var methods_box = $("div#choose_method_box");
var irr_box = $("div#IRR_options");
var batch_field = $('#choose_batch_size');
if($('input#id_advanced-use_irr').prop('checked') == true)
{
  irr_box.show();
}
else {
  irr_box.hide();
}
if ($('input#id_advanced-use_active_learning').prop('checked') == true) {
  methods_box.show();
} else {
  methods_box.hide();
}

if ($('input#id_advanced-use_default_batch_size').prop('checked') == true) {
  batch_field.hide();
} else {
  batch_field.show();
}

$('input#id_advanced-use_active_learning').change(function(){
  if ($(this).prop('checked') == true) {
    methods_box.show();
  } else {
    methods_box.hide();
  }
});

$('input#id_advanced-use_default_batch_size').change(function(){
  if ($(this).prop('checked') == true) {
    batch_field.hide();
  } else {
    batch_field.show();
  }
});

$('input#id_advanced-use_irr').change(function(){
  if ($(this).prop('checked') == true) {
        irr_box.show();
    } else {
        irr_box.hide();
    }
});
</script>
{% endblock %}
