{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
{{ wizard.form.media }}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="error-messages">{{ wizard.non_form_errors }}</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="cardface">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ wizard.management_form }}

          {% if wizard.steps.step0 == 0 %}
            <h1>Project Info</h1>
            <div class="form-group">
              <label class="control-label" for="{{ wizard.form.name.id_for_label }}">{{ wizard.form.name.label }}</label>
              <input class="form-control" id="{{ wizard.form.name.id_for_label }}" maxlength="30" name="{{ wizard.form.name.html_name }}" type="text" placeholder="{{ form.name.label }}" value="{{ form.name.value|default_if_none:'' }}"/>
              <div class="error-messages">{{ wizard.form.name.errors }}</div>
            </div>
            <div class="form-group">
              <label class="control-label" for="{{ wizard.form.description.id_for_label }}">{{ wizard.form.description.label }}</label>
              <textarea class="form-control" id="{{ wizard.form.description.id_for_label }}" name="{{ wizard.form.description.html_name }}">{{ form.description.value|default_if_none:'' }}</textarea>
              <div class="error-messages">{{ wizard.form.description.errors }}</div>
            </div>
          {% elif wizard.steps.step0 == 1 %}
            <h1>Labels</h1>
            <p>You must provide the name of your labels here.  SMART <strong>requires at least two labels</strong> and the labels must be <strong>unique</strong>.</p>
            <p>If you have more than two labels use the <code>add label</code> button to add more rows to the form.  If you decide that you want to remove a label after adding it there will be a <code>remove label</code> button next to the name input.</p>
            <p>If your data file has labels in it then you must provide the exact labels here.</p>
            <p>You can not update the labels for a project after the project is created.</p>
            <table class="table table-striped">
              {{ wizard.form.management_form }}
              <div class="error-messages">{{ wizard.form.non_form_errors }}</div>
              {% for form in wizard.form %}
                {% if forloop.first %}
                  <thead>
                  <tr>
                    {% for field in form.visible_fields %}{% if field != data %}
                      <th>{{ field.label|capfirst }}</th>
                    {% endif %}{% endfor %}
                  </tr>
                  </thead>
                  {% endif %}
                  <tr class="formset_row_label">
                    {% for field in form.visible_fields %}
                      <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                          {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                          {% endfor %}
                        {% endif %}
                        <div class="error-messages">{{ field.errors.as_ul }}</div>
                        {{ field }}
                      </td>
                    {% endfor %}
                  </tr>
              {% endfor %}
            </table>
          {% elif wizard.steps.step0 == 2 %}
            <h1>Permissions</h1>
            <p>You can assign special permissions to other users' profiles.</p>
            <p>Admins are able to update project description, upload additional data, control project permissions and annotate data.  Coders are able to view project details and annotate data.</p>
            <ul class="list-group">
              <li class="list-group-item">You are the project creator, as such you can not assign spcial permissions to yourself</li>
              <li class="list-group-item">Each profile can only have one permission type</li>
              <li class="list-group-item">Every row must be completely filled in with both a profile and permission.</li>
            </ul>
            <p>You can click the <code>add permissions</code> button to add more rows to the form.  If you decide that you want to remove a permission after adding it click the <code>remove permission</code> button next to the inputs.</p>
            <p>You can update permissions after creating a project.</p>
            <table class="table table-striped">
              {{ wizard.form.management_form }}
              <div class="error-messages">{{ wizard.form.non_form_errors }}</div>
              {% for form in wizard.form %}
                {% if forloop.first %}
                  <thead>
                  <tr>
                    {% for field in form.visible_fields %}{% if field != data %}
                      <th>{{ field.label|capfirst }}</th>
                    {% endif %}{% endfor %}
                  </tr>
                  </thead>
                {% endif %}
                <tr class="formset_row_perm">
                  {% for field in form.visible_fields %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      {% endif %}
                      <div class="error-messages">{{ field.errors.as_ul }}</div>
                      {{ field }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <div>
              <h1>Data Upload Instructions</h1>
              <p>You must upload a data file that contains text (and optionally labels) for your project.  The file <strong>must pass the following checks</strong>:</p>
              <ul class="list-group">
                <li class="list-group-item"><code>.csv</code> or <code>.tsv</code> file</li>
                <li class="list-group-item">Two columns with headers <code>Text</code> and <code>Label</code></li>
                <li class="list-group-item">Less than 4GBs</li>
              </ul>
              <p>The <code>Text</code> column should have the text of your data which will be annotated by users.  The <code>Label</code> column should have any pre-existing labels for the corresponding text.  If you have no labels then this column can be blank.</p>
              <p>SMART restricts your project to having two million unique data objects.  Any row after the two millionth will be discarded and any duplicated text that appears previously in the file will also be discarded.</p>
            </div>
            <div class="form-group">
              <label class="control-label" for="{{ wizard.form.data.id_for_label }}">{{ wizard.form.data.label }}</label>
              <input class="form-control" id="{{ wizard.form.data.id_for_label }}" maxlength="30" name="{{ wizard.form.data.html_name }}" type="file" placeholder="{{ form.data.label }}" />
              <div class="error-messages">{{ wizard.form.data.errors }}</div>
            </div>
          {% endif %}

          <div>
            {% if wizard.steps.step0 == 0 %}
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            {% elif wizard.steps.step0 == 1 %}
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            {% elif wizard.steps.step0 == 2 %}
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="labels">2. Labels</button>
            <input class="btn btn-primary" type="submit" value="Next Step"/>
            {% else %}
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="project">1. Info</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="labels">2. Labels</button>
            <button class="btn btn-info" name="wizard_goto_step" type="submit" value="permissions">3. Permissions</button>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            {% endif %}
            <p class="pull-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script type="text/javascript">
    $('.formset_row_label').formset({
        addText: 'add label',
        deleteText: 'remove label',
        prefix: 'label_set',
        added: function () {
            // Reset drop down and errors from both columns when adding new rows
            $('tr.formset_row_label').last().children(':first').find('ul.errorlist li').empty();
        }
    });
    $('.formset_row_perm').formset({
        addText: 'add permissions',
        deleteText: 'remove permission',
        prefix: 'permission_set',
        added: function () {
            // Reset drop down and errors from both columns when adding new rows
            $('tr.formset_row_perm').last().children(':first').find('option:eq(0)').prop('selected', true);
            $('tr.formset_row_perm').last().children().eq(1).find('option:eq(0)').prop('selected', true);
            $('tr.formset_row_perm').last().children(':first').find('ul.errorlist li').empty();
            $('tr.formset_row_perm').last().children().eq(1).find('ul.errorlist li').empty();
        }
    });
</script>
{% endblock %}