{% extends "base.html" %}
{% block page_title %}Details{% endblock %}
{% load project_extras %}
{% load static %}

{% block content %}
<div class="card full">
  <div class="cardface">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ project.name }}</h2>
        <p>Created By: {{ project.creator }}</p>
        {% if project.umbrella_string %}
          <p>Group: {{ project.umbrella_string }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#description-panel" class="accordion-toggle">
                Description
              </a>
            </h5>
          </div>
          <div id="description-panel" class="panel-collapse collapse show">
            <div class="panel-body">
              {% if project.description %}
              <p>{{ project.description }}</p>
              {% else %}
              <h5><strong>No Description Available</strong></h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#status-panel" class="accordion-toggle">
                Project Status
              </a>
            </h5>
          </div>
          <div id="status-panel" class="panel-collapse collapse show">
            <div class="panel-body">
              <p>Fully Labeled: <span id="fully-labeled"></span></p>
              <p>Fully Labeled (Verified): <span id="fully-labeled-verified"></span></p>
              <p style="font-size: 0.65rem; margin-left: 8px;"><i>Note: </i>&nbsp;For non-IRR data, the verification feature is enabled to allow projects to add on an additional layer of oversight if needed.
                Labeled data can be verified in the history table, while adjudicated data is automatically verified.
                SMART does not prioritize verified data labels over unverified when training its models.
              </p>
              <p>Fully Labeled (Unverified): <span id="fully-labeled-unverified"></span></p>
              <p>Unlabeled and Unassigned: <span id="unlabeled-unassigned"></span></p>
              <p>Awaiting Adjudication: <span id="awaiting-adjudication"></span></p>
              <p style="font-size: 0.65rem; margin-left: 8px;"><i>Note: </i>&nbsp;Data awaiting adjudication has either been skipped or is waiting on admin review because two or more coders disagreed on its label.</p>
              <p>Recycle Bin: <span id="recycled"></span></p>
              <p>Assigned/Partially Labeled IRR: <span id="other-labeled"></span></p>
              <p style="font-size: 0.65rem; margin-left: 8px;"><i>Note: </i>&nbsp;Data that is assigned or in partially labeled IRR is in progress but waiting for coders to finish annotating.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#admin-panel" class="accordion-toggle">
                Permissions
              </a>
            </h5>
          </div>
          <div id="admin-panel" class="panel-collapse collapse show">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                    <h4>Admin(s)</h4>
                    <ul class="list-group-flush">
                    <li class="list-group-item">{{ project.creator }}</li>
                    {% for perm in project.projectpermissions_set.all %}
                      {% if perm.permission == 'ADMIN' %}
                        <li class="list-group-item">{{ perm.profile }}</li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                <div class="col-md-6">
                  <h4>Coder(s)</h4>
                  <ul class="list-group-flush">
                  {% if project.coder_count > 0 %}
                    {% for perm in project.projectpermissions_set.all %}
                      {% if perm.permission == 'CODER' %}
                      <li class="list-group-item">{{ perm.profile }}</li>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                  <h5><strong>No CODER Permissions Available</strong></h5>
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#settings-panel" class="accordion-toggle">
                Advanced Project Settings
              </a>
            </h5>
          </div>
          <div id="settings-panel" class="panel-collapse collapse show">
            <div class="panel-body">
              <ul class="list-group-flush">
                {% if project.has_database_connection %}
                <li class="list-group-item">
                  <dt>Database connection:</dt>
                  <dd>Import Table: {{ project.get_ingest_database }}</dd>
                  <dd>Scheduled Import: {{ project.get_scheduled_ingest }}</dd>
                  <dd>Export Table: {{ project.get_export_database }}</dd>
                  <dd>Scheduled Export: {{ project.get_scheduled_export }}</dd>
                  <dd>Export only Verified Labeled Data: {{ project.get_export_verified_only }}</dd>
                </li>
                {% endif %}
                {% if project.classifier != None %}
                <li class="list-group-item">
                  <dt>Classifier</dt>
                  <dd>{{ project.classifier }}</dd>
                </li>
                {% else %}
                <li class="list-group-item">
                  <dt>No Classifier being used</dt>
                </li>
                {% endif %}
                <li class="list-group-item">
                  <dt>Selection Algorithm</dt>
                  <dd>{{ project.learning_method }}</dd>
                </li>
                <li class="list-group-item">
                  <dt>Batch Size</dt>
                  <dd>{{ project.batch_size }}</dd>
                </li>
                {% if project.percentage_irr == 0.0 %}
                <li class="list-group-item">
                  <dt>No IRR being used</dt>
                </li>
                {% else %}
                <li class="list-group-item">
                  <dt>Percent IRR</dt>
                  <dd>{{ project.percentage_irr }}%</dd>
                </li>
                <li class="list-group-item">
                  <dt>Number of users for IRR</dt>
                  <dd>{{ project.num_users_irr }}</dd>
                </li>
                {% endif %}
                {% if project.metadatafields != None %}
                <li class="list-group-item">
                  <dt>Metadata Fields Displayed with Data</dt>
                  {% for meta in project.metadatafields.all %}
                      {% if meta.field_name.lower == project.category.field_name.lower %}
                        <dd>- [CATEGORY] {{ meta.field_name }} </dd>
                      {% else %}
                        <dd>- {{ meta.field_name }}</dd>
                      {% endif %}
                  {% endfor %}
                </li>
                {% endif %}
                {% if project.labelmetadatafields != None %}
                <li class="list-group-item">
                  <dt>Metadata Fields Displayed with Labels</dt>
                  {% for meta in project.labelmetadatafields.all %}
                    {% if meta.field_name.lower == project.category.field_name.lower %}
                      <dd>- [CATEGORY] {{ meta.field_name }} </dd>
                    {% else %}
                      <dd>- {{ meta.field_name }}</dd>
                    {% endif %}
                  {% endfor %}
                </li>
                {% endif %}
                <li class="list-group-item">
                  <dt>Method for Identifying Duplicates in Data Upload</dt>
                  {% if project.dedup_on == "Text" %}
                  <dd>Matching text</dd>
                  {% elif project.dedup_on == "Metadata_Text" %}
                  <dd>Text and all metadata fields match.</dd>
                  {% else %}
                  <dd>Text and the following metadata fields match: {{ project.dedup_fields }}.</dd>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#label-panel" class="accordion-toggle collapsed collapsed">
                Labels (first 100)
              </a>
            </h5>
          </div>
          <div id="label-panel" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group-flush">
                {% for label in project.first_100_labels %}
                  <li class="list-group-item">
                    <dt>{{ label.name }}</dt>
                    <dd>{{ label.description }} {% for meta in label.labelmetadata.all %} | {{ meta }} {% endfor %}</dd>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#Data-panel" class="accordion-toggle collapsed collapsed">
                Data
              </a>
            </h5>
          </div>
          <div id="Data-panel" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-group-flush">
              {% for data in project.data_set.all|slice:"5" %}
                <li class="list-group-item showData">{{ data.text }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
        <div class="btn-toolbar" style="flex: none; margin-left: -0.5rem;" role="group" aria-label="Project Controls">
          <a class="btn btn-primary" href="{% url 'projects:project_list' %}" role="button">
            Return to Projects
          </a>
          {% if project|proj_permission_level:request.user.profile > 1 %}
          <a class="btn btn-info" href="{% url 'projects:project_update_landing' project.pk %}" role="button">
            Update Project
          </a>
          <a class="btn btn-danger" href="{% url 'projects:project_delete' project.pk %}" role="button">
            Delete Project
          </a>
          {% endif %}
        </div>

        <div class="btn-toolbar pull-right" style="flex: none;" role="group" aria-label="Admin Controls">
          {% if project.codebook_file != "" %}
          <a class="btn btn-primary" href = "{% static project.codebook_file %}" target = "_blank" id="download_cb_btn">View CodeBook</a>
          {% endif %}
          {% if project|proj_permission_level:request.user.profile > 1 %}
            <a class="btn btn-primary" href="{% url 'projects:project_admin' project.pk %}" role="button">
              Admin Page
            </a>
            {% if project.get_ingest_database != "" %}
            <a class="btn btn-primary" id="ingest_datatable_button">
              Import new data from Database
            </a>
            {% endif %}
            {% if project.get_export_database != "" %}
            <a class="btn btn-primary" id="export_datatable_button">
              Export labeled data to Database
            </a>
            {% endif %}
          {% if project.has_model %}
            <a class="btn btn-primary" id="download_model_btn" onclick="download_model({{project.pk}},1)">Download Model and All Labeled Data</a>
            {% if project.unverified_labeled_data_count > 0 %}
              <a class="btn btn-primary" id="download_model_btn_verified" onclick="download_model({{project.pk}},0)">Download Model and Only Verified Labeled Data</a>
            {% endif %}
          {% else %}
            {% if project.labeled_data_count > 0 %}
            <a class="btn btn-primary" id="download_btn" onclick="download_data({{project.pk}},1)">Download Labeled Data</a>
            {% if project.unverified_labeled_data_count > 0 and project.labeled_data_count > project.unverified_labeled_data_count %}
              <a class="btn btn-primary" id="download_btn_verified" onclick="download_data({{project.pk}},0)">Download Only Verified Labeled Data</a>
            {% endif %}
            {% else %}
            <a class="btn btn-primary disabled" id="download_btn">No Labeled Data to Download</a>
            {% endif %}
          {% endif %}
          {% endif %}
          {% if project.percentage_irr > 0 %}
          <button id="download-irr-log-btn" class="btn btn-primary" onclick="downloadIRRLog({{ project.pk }})">Download IRR Log</button>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script>
/*
 *  When download button is pressed request the csv file, add the data as a blob
 *  to a new anchor element, and trigger a click event on that anchor element
 *  to prompt the download file popup
 *  NOTE: this function is also in detail.html, but edited to work for multiple
 *  buttons on the same page
 */
 function download_data(pk, unverified) {
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    var a, today;
    if (xhttp.readyState === 4 && xhttp.status === 200) {
      a = document.createElement('a');
      a.href = window.URL.createObjectURL(xhttp.response);
      today = new Date();
      a.download = 'project_' + String(pk) + '_labels_' + today.toDateString().split(' ').join('_') + '.csv';
      a.style.display = 'none';
      document.body.appendChild(a);
      return a.click();
    }
  };
  xhttp.open('GET', '/api/download_data/' + String(pk) + '/' + String(unverified) + '/', true);
  xhttp.setRequestHeader('Content-Type', 'application/json');
  xhttp.responseType = 'blob';
  xhttp.send();
}

/*
 *  When the download model button is pressed, download a zip file
 *  with a README, the model, labeled data, and tfidf matrix
 */
function download_model(pk, unverified) {
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    var a, today;
    if (xhttp.readyState === 4 && xhttp.status === 200) {
      a = document.createElement('a');
      a.href = window.URL.createObjectURL(xhttp.response);
      today = new Date();
      a.download = 'project_' + String(pk) + '_model_' + today.toDateString().split(' ').join('_') + '.zip';
      a.style.display = 'none';
      document.body.appendChild(a);
      return a.click();
    }
  };
  xhttp.open('GET', '/api/download_model/' + String(pk) + '/' + String(unverified) + '/', true);
  xhttp.setRequestHeader('Content-Type', 'application/json');
  xhttp.responseType = 'blob';
  xhttp.send();
}

/*
 *  When the download IRR log button is pressed, download the IRR log as a csv file
 */
function downloadIRRLog(projectId) {
    var url = `/api/download_irr_log/${projectId}/`;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
            var blob = new Blob([xhttp.response], {type: 'text/csv'});
            var downloadUrl = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = downloadUrl;
            a.download = 'irr_log_' + projectId + '.csv';
            document.body.appendChild(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(downloadUrl);
        } else if (xhttp.readyState === 4 && xhttp.status !== 200) {
            console.error('Error downloading the file:', xhttp.statusText);
        }
    };
    xhttp.open('GET', url, true);
    xhttp.responseType = 'blob'; // Set the response type to blob for binary data
    xhttp.send();
}


/*
 *  When the ingest datatable button is pressed, SMART pulls the entire
 *  database table and tries to load it in as data
 */
$('#ingest_datatable_button').on('click', function() {
  $.ajax({
    method: "POST",
    url: '/api/import_database_table/' + {{ project.pk }} + '/',
    success: function (response) {
      alert("Datatable successfully imported. New data added: "+ response.num_added);
    }
  }).fail(function(response) {
    alert('Error: datatable import failed with error ' + response.responseText);
  });
});


/*
 *  When the export datatable button is pressed, SMART exports labeled data to
 *  a specified database table.
 */
$('#export_datatable_button').on('click', function() {
  $.ajax({
    method: "POST",
    url: '/api/export_database_table/' + {{ project.pk }} + '/',
    success: function (response) {
      alert("Datatable successfully exported. "+ response.success_message);
    }
  }).fail(function(response) {
    alert('Error: datatable import failed with error ' + response.responseText);
  });
});


$(document).ready(function() {
  $.ajax({
    method: "GET",
    url: '/api/project_status/' + {{ project.pk }} + '/',
    success: function (response) {
      $('#fully-labeled').append(response.final);
      $('#fully-labeled-verified').append(response.final_verified);
      $('#fully-labeled-unverified').append(response.final_unverified);
      $('#unlabeled-unassigned').append(response.unlabeled);
      $('#awaiting-adjudication').append(response.adjudication);
      $('#recycled').append(response.recycled);
      $('#other-labeled').append((response.total - response.final - response.adjudication - response.recycled) - response.unlabeled);
    }
  })
});


</script>
{% endblock %}
