{% extends "base.html" %}

{% block content %}
  <h2>Projects</h2>
  <a class="btn btn-default" href="{% url 'projects:project_create' %}">New Project</a>
  <ul>
    {% for project in object_list %}
      <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}