{% extends "base.html" %}

{% block content %}
<div class="card full">
  <div class="cardface">
    <h1>Projects</h1>
    <p>
        <div class="list-group">
          <table class="table table-striped">
            <tbody>
              {% for project in object_list %}
              <tr>
                <td>{{ project.name }}</td>
                <td><a href="{{ project.get_absolute_url }}">Details</a></td>
                <td><a href="{% url 'projects:project_code' project.pk %}">Annotate</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="btn btn-primary margin-top" href="{% url 'projects:project_create' %}">New Project</a>
    </p>

    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
