{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}Skew Page{% endblock %}
{% block heading %}Skew - {{object}}{% endblock %}

{% block content %}
<div class="card full">
  <div class="cardface">
    <div class="row">
      <div class="btn-group pull-left" role="group" aria-label="Admin Controls">
        <a class="btn btn-primary" href="{% url 'projects:project_admin' project.pk %}" role="button">
              Back to Admin Page
        </a>
      </div>
    </div>
    <h2>{{ project.name }}</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Label Distribution</h3>
        <div id="distribution_chart_summ" style="height:300px">
          <svg class="nvd3-svg"></svg>
        </div>
      </div>
    </div>
    <div class="row">
      <p>
      Below are the unlabeled data that are not in a queue. This page allows an admin to
      manually search for and annotate data in the case of a particularly bad data skew.
      </p>
      <br/>
      <p>To annotate, click on a data entry below and select the label from the expanded list of
        labels.
    </div>
    <div class="row">
      <div>
      </div>
      <h3>Unlabeled</h3>
      <table id="unlabeled_data_table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>Text</th>
          </tr>
        </thead>
      </table>
    </div>

  </div>
</div>

{% endblock %}

{% block scripts_body %}
<script>
/*
 *  Make ajax call to `label_distribution by tag` route.  This will fetch data to
 *  populate the discrete multi bar chart and show the label distribution
 *  per user. Note that this groups differently than the admin page.
 */
$.ajax({
    method: "GET",
    url: '/api/label_distribution_inverted/' + {{ project.pk }} + '/',
    success: function (response) {
        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                .color(["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854","#ffd92f","#e5c494","#b3b3b3"])
                .duration(300)
                .margin({bottom: 70, left: 70})
                .groupSpacing(0.1)
                .stacked(true)
            ;
            chart.xAxis
                .axisLabel("Label")
                .axisLabelDistance(15)
                .showMaxMin(false)
            ;
            chart.yAxis
                .axisLabel("Number of Data Annotated")
                .axisLabelDistance(-5)
                .tickFormat(d3.format(',.01f'))
            ;
            d3.select('#distribution_chart_summ svg')
                .datum(response)
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
        });
    },
    error: function (error) {
        console.log(error);
    }
});

$(document).ready(function() {

    /*
     *  Activate DataTable script to create the unlabeled data DataTable
     */
     var unlabeled_table = $('#unlabeled_data_table').DataTable({
         "ajax": '/api/data_unlabeled_table/' + {{ project.pk }} + '/',
         "order": [],
         "columns": [
             {
               "className": 'details-control', "orderable": false,
               "data": null, "defaultContent": '', "width": "5%",
               "searchable": false,
             },
             { "data": "Text", "width": "95%" },
             {"data":"ID" , "visible": false }
         ],
         "oLanguage": {
             "sSearch": "Filter Text: "
         },
        "initComplete": function (settings, json) {
            $this = $(this)
            $this.css({'table-layout':'fixed'});
            $this.find('tr td:nth-child(2)').addClass('showData');
        }
     });

    function labelButtonClicked(event) {
      var data_id = this.parentElement.parentElement.getAttribute('name');
      var label_id = this.id;
      $.ajax({
        method: 'POST',
        url: '/api/label_skew_label/' + data_id + '/',
        data: {
          labelID: label_id,
          labeleing_time: null
        },
        xhrFields: {
          withCredentials: true
        },
        success: function (response) {
          //Need to remove the row from the table
          $('#unlabeled_data_table').DataTable().rows("."+data_id).remove().draw(false);
        },
        error: function (error) {
          console.log(error);
        }
      })
    }

    function format_hidden_rows(rowData){
      var buttonDiv = '';
      buttonDiv += '<div class="text-center" name=' + rowData.ID + '>';
      buttonDiv += '<div class="center-block">'
      {% for label in project.labels.all %}
      buttonDiv += '<button type="button" class="btn btn-primary btn-spacing" id="{{ label.id }}">{{ label }}</button>';
      {% endfor %}
      buttonDiv += '</div></div>';
      return buttonDiv;
    }

    /*
     *  This function fires whenever a row of the table is clicked. If it is a
     *  outer row, it should spawn or hide the list of buttons. The child rows
     *  also trigger this function but it should do nothing there.
     */
     $('#unlabeled_data_table tbody').on('click','td.details-control',function(){
       var tr = $(this).closest('tr');
       var row = unlabeled_table.row(tr);

       //Assign the data id as a class so we can remove this row later
       var id = String(row.data().ID);
       tr.addClass(id);
       if(row.child.isShown())
       {
         row.child.hide();
         tr.removeClass('shown');
       }
       else{
         row.child(format_hidden_rows(row.data())).show();
         $(row.child()).find('button').click(labelButtonClicked);
         tr.addClass('shown');
       }
     });

});
</script>
{% endblock %}
