{% extends "base.html" %}
{% block page_title %}Update Project{% endblock %}

{% block content %}
<div class="card full">
  <div class="cardface">
    <h1>Update Project</h1>
    <p>Select any of the buttons to navigate to the update page for that part of the project</p>
    <ul>
      <li class="update-list"><a class="btn btn-primary" href="{% url 'projects:project_update_overview' project.pk %}" role="button">Project Overview</a></li>
      <li class="update-list"><a class="btn btn-primary" href="{% url 'projects:project_update_data' project.pk %}" role="button">Upload More Data</a></li>
      <li class="update-list"><a class="btn btn-primary" href="{% url 'projects:project_update_codebook' project.pk %}" role="button">{% if project.codebook_file == '' %}Upload Codebook{% else %}Change Codebook{% endif%}</a></li>
      <li class="update-list"><a class="btn btn-primary" href="{% url 'projects:project_update_permissions' project.pk %}" role="button">Update Project Permissions</a></li>
      <li class="update-list"><a class="btn btn-primary" href="{% url 'projects:project_update_labels' project.pk %}" role="button">Update Label Descriptions</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts_body %}
<script>

</script>
{% endblock %}
